dash[dev]>=2.5.1
dash_bootstrap_components
dash-iconify
dash-mantine-components
eurostat
googletrans
gunicorn
holidays
pandas
pandas-datareader
prophet
meteostat
pymongo[srv]
ydata-profiling==4.2.0
python-dotenv
build
wheel
xhtml2pdf
kaleido