@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

*{
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#save-button .mantine-Button-label{
  font-size: 1.5rem;
}

#save-button .mantine-Button-icon{
  font-size: 3rem;
}

#save-button{
  background-color: #2B454E;
}

#data-output2{
  font-size: 1.2rem;
  font-family: 'Nunito';
}


#estatisticas-container {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
}

#estatisticas-container > p:first-child {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Nunito';
}

#estatisticas-container > div:nth-child(odd) {
  background-color: #e1e1e1;
}

#estatisticas-container > div:nth-child(even) {
  background-color: #d2d2d2;
}

#estatisticas-container > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#estatisticas-container > div > p{
  width: 50%;
  border-right: 1px solid silver;
}

#estatisticas-container p {
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.4;
}

#estatisticas-container p span {
  font-weight: bold;
}

#estatisticas-container > div:nth-child(8) > p:nth-child(2){
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.4;
  white-space: pre;
}



#variable-types-container {
  background-color: white;
  padding: 15px;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#variable-types-container p {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Nunito';
}

#variable-types-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  flex-direction: column;
}

#variable-types-container > div{
  border: 1px solid;
  padding: 10px;
}

#variable-types-container div div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#variable-types-container div div p {
  margin-right: 10px;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: 'Nunito';
}

#variable-types-container div div p:first-child {
  font-weight: bold;
}





#aed-container{
  background-color: #f0f0f0;
}

#alerts-container {
  background-color: white;
  padding: 15px;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#alerts-container p {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Nunito';
}

#alerts-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  flex-direction: column;
}

#alerts-container > div{
  border: 1px solid;
  padding: 10px;
}

#alerts-container div div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#alerts-container div div p {
  margin-right: 10px;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: 'Nunito';
}

#alerts-container div div p:first-child {
  /* font-weight: bold; */
}

#variables-container{
  padding: 15px;
  background-color: white;
  margin: 2rem;
}
#variables-container > p{
  font-size: 2rem;
  font-family: 'Nunito';
  font-weight: 700;
}

#variables-output{
  min-height: 100vh;
  /* height: 100%; */
}

#variables-output > div{
  text-align: right;
}
#variables-output > div > h3{
  font-size: 1.8rem;
  font-family: 'Nunito';
}
#variables-output > div > p{
  font-size: 1.2rem;
  font-family: 'Nunito';
}

#first_table{
  background-color: #e0dfdf;
  padding: 15px;
  margin: 10px;
  width: 50%;
}

#second_table{
  background-color: #e0dfdf;
  padding: 15px;
  margin: 10px;
}

.container-first_table{
  display: flex;
}
.container-first_table #histogram-graph{
 width: 50%;
 height: 60vh;
}

#histogram-graph2{
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
}

.table-row p {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Nunito';
}

.table-row p:first-child {
  font-weight: bold;
}

/* TABS */
.mantine-Tabs-tabsList{
  font-size: 1.2rem;
  font-family: 'Nunito';
  padding: 10px;
}
.mantine-Tabs-tabLabel{
  font-size: 1.2rem;
  font-family: 'Nunito';
}
.mantine-Tabs-tabsList button:first-child{
  /* background: #adadad;
  color: #fff; */
}



.cell-table {
  width: 433.156px;
  border-collapse: collapse;
}

.cell-table th {
  background-color: #f2f2f2;
  border: 1px solid rgb(211, 211, 211);
  padding: 8px;
  text-align: left;
}

.cell-table th .column-header-name {
  font-weight: bold;
}
.cell-table th span{
  font-size: 1.1rem;
}

.cell-table td {
  border: 1px solid rgb(211, 211, 211);
  padding: 8px;
}

.cell-table td div{
  font-size: 1.1rem;
}






/* Forecast PAGE */

#factors-components{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 13px;
  background: #dbdada;
}

#factors-components #predition-elements{
  margin-top: 25px;
}
#factors-wrapper-components{
  display: flex;
  gap: 10px;
}

#forecast-btn, #Consult-btn {
  font-size: 3.2rem;
  font-family: 'Nunito';
  background-color: #f5f5f6;
  padding: 0 3rem;
  color: #2B454E;
  transition: .3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#forecast-btn:hover, #Consult-btn:hover{
  background-color: white;
}

input.mantine-Input-input{
padding: 0 10px !important;
}

#parameters-components{
 display: flex;
 gap: 5px;
 padding: 0px 0px;
}

#predition-results{
  padding: 0 20px;
}

#holidays-results{
  margin-top: 20px;
  padding: 0 20px;
}

#holidays-results #tabs-holiday > div{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#holidays-results #tabs-holiday .tab--selected{
  border-top: 5px solid #2B454E;
}
#holidays-results #tabs-holiday > div > span{
  font-size: 1.2rem;
  font-family: 'Nunito';
  padding: 3px;
  text-align: center;
}

#holidays-results h3 {
  font-size: 2rem;
  font-family: 'Nunito';
  background-color: #fff;
  padding-top: 10px;
  padding-left: 5px;
}

#predition-banner{
  background-color:#d2d2d2;
  height: 50vh;
  font-size: 2rem;
  font-family: 'Nunito';
  text-transform: uppercase;
  font-weight: 700;
  justify-content: center;
  display: flex;
  align-items: center;
}


/* global elements */

.LoadingComponent{
  position: fixed;
  width: 102%;
  height: 102vh;
  background: #000000ca;
  z-index: 1000;
  font-size: 2.2rem;
  color: white;
  font-family: 'Nunito';
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.LoadingComponentOn {
  position: fixed;
  width: 102%;
  height: 102vh;
  background: #000000ca;
  z-index: 1000;
  font-size: 2.2rem;
  color: white;
  font-family: 'Nunito';
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}


/* UPLOAD PAGE STYLE */

#upload-elements{
    width:100%;
    height:85%;
    background:#dbdada;
    display:flex;
    padding: 20px;
    gap: 15px;
    flex-direction:column;
}

#lb_dataset{
  width: 350px;
}

input.mantine-Input-input {
  border: none;
  font-size: 1.2rem;
  font-family: 'Nunito';
  padding: 20px;
  border-radius: 10;
}
label.mantine-InputWrapper-label{
  font-size: 1.6rem;
  font-family: 'Nunito';

}
#save-button{
  padding: 10px 0;
}

#data-output2, #validate-login, #data-output-header{
  display: none;
  height: 50vh;
}

#data-output2.on, #validate-login.on, #data-output-header.active{
  background-color: rgba(0, 0, 0, 0.858);
  color: #f2f2f2;
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  gap: 7px;
  z-index: 43;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#data-output2.on .desc-popup,  #validate-login.on .desc-popup, #data-output-header.active .desc-popup1{
  font-size: 1.8rem;
  font-family: 'Nunito';
  width: 500px;
}
#Wrapper-popup{
  background: #2B454E;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid #d2d2d2; */
}

#data-output2.on #btn-popup, #validate-login.on #btn-popup, #data-output-header.active #btn-popup1, #btn-sair-popup1{
  background: #2B454E;
  padding: 17px 30px;
  border: none;
  font-size: 1.2rem;
  font-family: 'Nunito';
  color: white;
  border-radius: 7px;
  width: 200px;
  cursor: pointer;
  transition: background .7s;
}

#data-output2.on #btn-popup:hover, #validate-login.on #btn-popup:hover, #data-output-header.active #btn-popup1:hover, #btn-sair-popup1:hover{
  background: #d2d2d2;
  color: #2B454E;
}

#upload-elements + div{
  height: 55vh;
}

/* AnalyzesFiles */

#dataset-display{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* Report output */

.report_output{
  position: absolute;
  display: none;
  background-color: #F0F0F0;
  width: 100%;
  height: 100vh;
  z-index: 1111111;

}
.report_output .wrapper-btn-report{
  display:flex;
  justify-content:space-between; 
  padding:15px;
  background: rgb(30, 30, 30);
}

#dowload-report{
  font-size: 1.2rem;
  color: #f2f2f2;
  font-family: 'Nunito';
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
#close-report{
  font-size: 1.2rem;
  color: #f2f2f2;
  font-family: 'Nunito';
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
#dowload-report:hover, #close-report:hover{
  background-color: #2B454E;
}



#task-wrapper {
  background-color: #dbdada;
  display: flex;
  flex-direction: column;
  width: 73%;
  height: 350px;
  justify-content: center;
  margin: 23px auto 0;
  padding: 25px;
}

#task-wrapper .name-wrapper{
  display: flex;
  gap: 10px;
}
#task-wrapper .name-wrapper .mantine-TextInput-root{
  flex: 1;
}
#task-wrapper .desc-wrapper #desc-task{
  width: 100%;
}

#task-wrapper .data-wrapper{
  margin-top:10px;
  display: flex; gap: 10px;
}

#task-wrapper #create-task{
  width: 330px;
  font-size: 4.2rem;
  font-size: 'Nunito';
  background-color: #2B454E;
}

#tabs-wrapprer{
  width: 100%;
  margin: 3% auto 0;
}


/*Tabela factores zIndex*/
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-left .cell-0-1, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-top .cell-0-1, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-virtualized .cell-0-1{
  z-index: 0;
}