:root {
  --primary: #2B454E;
  --white: #ffffff;
}

#loginPage{
  background: white;
   height: 100vh;
}

#loginPage #first-section{
  display: flex; 
  justify-content:space-between; 
  padding:4rem;
}
#loginPage #first-section > p{
  font-size:2rem;
  font-weight: 700;
  font-family: 'Nunito';
  color: var(--primary);
}
#loginPage #first-section > section > div > p{
  font-size: 1.6rem;
  font-family: 'Nunito';
  font-weight: 500;
}
#loginPage #first-section > section > div > div{
  font-size: 1.6rem; 
  font-family: 'Nunito';
  color: var(--primary);
  font-weight: 500;
}

#loginPage #second-section{
  display: flex; 
  gap: 10px;
  justify-content:center;
}

#loginPage #second-section .first-wrapper{
  background-image: url('../../../../assets/loginIMG.jpg'); 
  height:540px; 
  width: 540px;
  background-repeat: no-repeat;
  background-size: contain;
}

#loginPage #second-section .second-wrapper > h3{
  font-family: 'Nunito';
  font-size: 3.2rem;
}

#loginPage #second-section .second-wrapper > p {
  font-family: 'Nunito';
  font-size: 1.6rem; 
  color: rgb(185 185 185);
}

#loginPage #second-section .second-wrapper > .div1{
  display:flex;
  flex-direction:column; 
  gap:15px;
  margin-top: 35px;
}
#loginPage #second-section .second-wrapper > .div1 #input-name{
  font-size:1.6rem; 
  padding:1rem 2rem; 
  width: 41rem; 
  border-radius: 4px;
}
#loginPage #second-section .second-wrapper > .div1 #input-password{
  font-size:1.6rem; 
  padding:1rem 2rem; 
  width: 41rem; 
  border-radius: 4px;
}

#loginPage #second-section .second-wrapper > .div2 {
  display: flex;
  padding-top: 15px;
}

#loginPage #second-section .second-wrapper > .div2 #BtnLogin{
    font-family: 'Nunito'; 
    font-size: 1.6rem;
    padding:1.5rem 6rem; 
    background: var(--primary); 
    color:white; 
    border: none; 
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
#loginPage #second-section .second-wrapper > .div2 #BtnPassword{
    font-family: 'Nunito';
    font-size: 1.6rem; 
    padding:1.5rem 5.5rem; 
    background: rgb(185 185 185);
    color:black; 
    border:none; 
    border-radius: 0px 4px 4px 0;
    cursor: pointer;
}